# Node.js dependencies
/node_modules/

# Environment variables file
.env

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Build output
/dist
/build

# Dependency directories
jspm_packages/

# OS files
.DS_Store  # macOS specific
Thumbs.db  # Windows specific

# IDE/editor specific files
.vscode/
.idea/

# Optional: If you're using a specific IDE like JetBrains
*.iml
